<!-- <div class="navbar navbar-default navbar-fixed-top" role="navigation"> -->
  <!-- <div class="container-fluid"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  style="margin-top:10px;" class="navbar-brand" href="#"><img src="images/logotemanis.png" height="25px;"></a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form> -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:rgb(0,65,133); height:85px;">
      <div class="container-fluid">
        <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="margin-top:17px;" class="navbar-brand" href="#"><img src="/images/logotemanis.png" height="25px;"></a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <form style="margin:10px; height:45px;" class="form-inline" role="form" action="/user/login" method="POST">
          <div class="form-group">
            <div style="color:white; margin-right:10px; margin-top:13px;" class="input-group">
              <input style="width:200px; border-radius:0px;" type="email" class="form-control"placeholder="Email" name="email">
              <br>
            </div>
          </div>
          <div class="form-group">
            <div style="margin-right:10px; margin-top:13px;" class="input-group">
              <input  style="width:200px; border-radius:0px;" type="password" class="form-control"placeholder="Password" name="password">
              <br>
            </div>
          </div>
          <button type="submit" class="btn btn-default" style="margin-top:13px; background-color:rgb(1, 164, 239); color:white;">Login</button>
        </form>
      </ul>
        </div><!-- /.navbar-collapse -->
  </div>
        <!-- <li><a href="#" style="color:white; padding-right:50px;">Login</a></li> -->
        <!-- <li><a href="#" style="color:white;">Register</a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul> -->
      </ul>
    </div>
  <!-- </div> -->
<!-- </div> -->
<div class="jumbotron" style="margin-bottom:0px; padding:105px 0pt; margin-top:25px;">

  <div class="container">
    <h2 style="color:white; margin-bottom:5px;">Easy.Simple.Fast</h2>
    <p style="color:white; margin-top:5px; width:500px;">Temanis Baru help you to register to your favourite school by online registration.</p>
    <p><a class="btn btn-primary btn-lg" href="/register" role="button" style="background-color:rgb(249,188,11); color:black;">Register Now</a></p>
  </div>
  </div>
</div>