<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:white; height:85px;">
    <div class="container-fluid">
        <div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a style="margin-top:17px;" class="navbar-brand" href="/"><img src="/images/logotemanis.png" height="25px;"></a>
    	</div>     
  	</div>
</div>
<div class="jumbotron" style="margin-bottom:0px; padding-top:139px; padding-bottom:4pt; padding-left: 0px; padding-right: 0px; margin-top:0px;">
	<div id="register" style="margin-top:-144px; margin-bottom:12px; background-color:rgba(0,0,0,0.5); width:550px; height:100%; margin-left:400px; padding-bottom:30px;">
		<h3 style="color:white; padding-top:20px; margin-left:20px;font-family: 'Roboto', sans-serif;">Register</h3>
		<form action="/user/createuser" method="POST">
			<div class="input-group" style="margin-left:20px;">
			    <input type="text" class="form-control" placeholder="Name" name="name" style="font-family: 'Roboto', sans-serif;">
			</div>
			<div class="input-group" style="margin-left:20px;">
			    <input type="email" class="form-control" placeholder="Email Address" name="email" style="font-family: 'Roboto', sans-serif;">
			</div>
			<div class="input-group" style="margin-left:20px;">
			    <input type="password" class="form-control" placeholder="Password" name="password" style="font-family: 'Roboto', sans-serif;">
			</div>
			<div class="input-group" style="margin-left:20px;">
			    <input type="password" class="form-control" placeholder="Re-enter Password" style="font-family: 'Roboto', sans-serif;">
			</div>
			<form>
		    <input type="radio" name="pil" value="loginmurid" style="margin-left:32px; width: 10px; color:white;">
		    <span style="color:white;font-family: 'Roboto', sans-serif; margin-left: 3px;">Murid</span>
		    <input type="radio" name="pil" value="loginsekolah" style="margin-left:20px; width: 10px; color:white;">
		    <span style="color:white;font-family: 'Roboto', sans-serif; margin-left: 3px;">Sekolah</span>
		    
			<button type="submit" class="btn btn-default" style="background-color:rgb(243, 66, 54); margin-left:440px; margin-top:154px; border-radius: 0px; font-family: 'Roboto', sans-serif;">Register</button>
		</form>

	</div>


