
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:white; height:85px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="margin-top:17px;" class="navbar-brand" href="/user/siswa"><img src="/images/logotemanis.png" height="25px;"></a>
    </div>
</div>
</div>
<div class="jumbotron" style="margin-bottom:0px; padding-top:80pt; padding-bottom: 0px; margin-top:0px;">
<ul class="list-group" style="margin-top:70px; margin-left:15px;width: 500px; box-shadow: none;">
    <h8 style="color:white;font-family: 'Roboto', sans-serif; text-shadow: 0.5px 0.5px 1px rgb(10,10,10);">Welcome, <%=session.User.name%></h8>
</ul>
  <div class="list-group" style="margin-bottom:75px;font-family: 'Roboto', sans-serif; border-radius: 0pt; border-color:rgb(10,10,10);">
  <a href="/user/editsiswa" class="list-group-item" style="width:260px; background-color:rgb(10,10,10); color:white;border-radius: 0pt; border-color: rgb(243, 66, 54);" onmouseover="this.style.background='rgb(243, 66, 54)' " onmouseout="this.style.background='rgb(10,10,10)'">Edit Profile</a>
  <a href="/user/listsiswa" class="list-group-item" style="width:260px; background-color:rgb(10,10,10); color:white;border-radius: 0pt; border-color: rgb(243, 66, 54);" onmouseover="this.style.background='rgb(243, 66, 54)' " onmouseout="this.style.background='rgb(10,10,10)'">School List</a>
  <a href="/user/changepwsiswa" class="list-group-item" style="width:260px; background-color:rgb(10,10,10); color:white;border-radius: 0pt; border-color: rgb(243, 66, 54);" onmouseover="this.style.background='rgb(243, 66, 54)' " onmouseout="this.style.background='rgb(10,10,10)'">Change Password</a>
  <a href="/user/reportsiswa" class="list-group-item"style="width:260px; background-color:rgb(10,10,10); color:white;border-radius: 0pt; border-color: rgb(243, 66, 54);" onmouseover="this.style.background='rgb(243, 66, 54)' " onmouseout="this.style.background='rgb(10,10,10)'">Report A Problem</a>
  <a href="/" class="list-group-item"style="width:260px; background-color:rgb(10,10,10); color:white;border-radius: 0pt; border-color: rgb(243, 66, 54);" onmouseover="this.style.background='rgb(243, 66, 54)' " onmouseout="this.style.background='rgb(10,10,10)'">Logout</a>
</div>
<div id="editprofile" style="margin-top:-533px;  background-color:rgba(0,0,0,0.5); width:550px; height:580px; margin-left:400px;  font-family: 'Roboto', sans-serif;">
  <h3 style="color:white; padding-top:20px; margin-left:20px;font-family: 'Roboto', sans-serif;">Edit Profile</h3>
	<form action="/user/editprofile" method="POST">
		
		<div class="input-group" style="margin-left:25px;margin-right: 25px;width:500px;margin-bottom:10px;" >
		    <input type="text" class="form-control" placeholder="Place of Birth" name="placebirth">
		</div>
		<div class="input-group" style="margin-top:2px;margin-bottom:2px;margin-left:25px;margin-bottom:10px;">
			<span style="color:white;">Date of Birth </span>
      <p>Date: <input type="text" name="date" id="datepicker"></p>  
			<!--<select id="daydropdown" name="date" style="color:rgb(10,10,10);">
			</select> <span> </span>
			<select id="monthdropdown" name="month" style="color:rgb(10,10,10);">
			</select> <span> </span>
			<select id="yeardropdown" name="year" style="color:rgb(10,10,10);">
			</select> <span> </span>-->
		</div>
		<div class="input-group"style="margin-left:25px;width:500px;margin-bottom:10px;">
		    <input type="text" class="form-control" placeholder="Address" name="addr">
		</div>
    <div class="input-group" style="margin-top:2px;margin-bottom:2px;margin-left:25px;margin-bottom:10px;">
      <span style="color:white;">Sex </span>  
      <select id="sexdropdown" name="sex" style="color:rgb(10,10,10);">
      </select>    
    </div>
		<div class="input-group" style="margin-left:25px;width:500px;">
		    <input type="text" class="form-control" placeholder="Phone Number" name="phonenumber">
		</div>    
		<button type="submit" class="btn btn-default" style="background-color:rgb(243, 66, 54); color:white; font-family: 'Roboto', sans-serif; border-radius:0pt;margin-left:447px; margin-right:25px ">Update</button>
    
	</form>
  
</div>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>
<script type="text/javascript">
// var d = document.getElementById('daydropdown');
// for(var i=1;i<=31;i++)
// {
//   var option = document.createElement('option');
//   option.value=i;
//   option.innerHTML = i;
//   d.appendChild(option);
// }
// var thisday = new Date();
// d.options.selectedIndex = thisday.getDate()-1;

// var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];
// var m = document.getElementById('monthdropdown');
// for(var i=0;i<12;i++)
// {
//   var option = document.createElement('option');
//   option.value=monthtext[i];
//   option.innerHTML = monthtext[i];
//   m.appendChild(option);
// }
// var thismonth = new Date();
// m.options.selectedIndex = thismonth.getMonth();

// var thisyear = new Date();
// var y = document.getElementById('yeardropdown');
// for(var i=18;i>=15;i--)
// {
//   var option = document.createElement('option');
//   option.value=thisyear.getFullYear()-i;
//   option.innerHTML = thisyear.getFullYear()-i;
//   y.appendChild(option);
// }
// y.options.selectedIndex = 1;
// var sextext=['F', 'M'];
// var s = document.getElementById('sexdropdown');
// for(var i=0;i<2;i++)
// {
//   var option = document.createElement('option');
//   option.value=sextext[i];
//   option.innerHTML = sextext[i];
//   s.appendChild(option);
// }
// var today=new Date();
// c.options.selectedIndex = today.getDate()-1;
/***********************************************
* Drop Down Date select script- by JavaScriptKit.com
* This notice MUST stay intact for use
* Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and more
***********************************************/

//populatedropdown(id_of_day_select, id_of_month_select, id_of_year_select)
// window.onload=function(){
// populatedropdown("daydropdown", "monthdropdown", "yeardropdown", "sexdropdown")
// }
// var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

// function populatedropdown(dayfield, monthfield, yearfield, sexfield){
// var today=new Date()
// var dayfield=document.getElementById(dayfield)
// var monthfield=document.getElementById(monthfield)
// var yearfield=document.getElementById(yearfield)
// var sexfield=document.getElementById(sexfield)
// for (var i=0; i<31; i++)
// dayfield.options[i]=new Option(i+1)
// dayfield.options[today.getDate()]=new Option(today.getDate(), today.getDate(), true, true) //select today's day
// for (var m=0; m<12; m++)
// monthfield.options[m]=new Option(monthtext[m])
// monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
// var thisyear=today.getFullYear()
// for (var y=0; y<23; y++){
// yearfield.options[y]=new Option(thisyear, thisyear)
// thisyear-=1
// }
// yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
// }
// for (var s=0; s<2; s++)
// sexfield.options[s]=new Option(sextext[s])
// sexfield.options[0]=new Option(sextext[0], sextext[0], true, true)
</script>
