<p style="margin-left:10px;">You can report any problem here</p>
<p style="margin-left:10px;">Just leave any message and our staff will handle and reply to your message box</p>
<textarea style="width:650px;height:300px;margin-left:10px;"></textarea>
<button type="submit" class="btn btn-default" style="margin-top:320px;margin-left:-80px; margin-bottom:18px;">Submit</button>